<div>
  <h3>About Us</h3>
<p>
  India Water Portal is a website that shares knowledge and builds communities around water and related issues in India. Managed by Arghyam, the Portal has become a valuable archive of resources, working papers, reports, data, articles, news, events, opportunities and discussions on water.<br>

Water is a very local topic. Surely you have had a personal experience with water, whether positive or negative at some point. India Water Portal is a platform that empowers you to share experiences and solutions, talk to experts, join conversations and learn about the work that others are doing to conserve our fast depleting water resources.
<br>
India Water Portal works primarily through partnerships with non-profit organisations, CSR divisions of multinational corporations and the media. We also work with volunteers from a wide range of backgrounds, disciplines and locations, who contribute their valuable time and energy to the cause of spreading awareness on and sharing solutions for India’s water problems.
<br>
India Water Portal was encouraged by the National Knowledge Commission, which proposed the need for knowledge portals in various areas back in 2005. Since then, it has evolved in the spirit of openness and sharing, to become one of the foremost sources of information in India for water, sanitation, agriculture, the environment, climate change, biodiversity, and other related thematic areas.
<br>
India Water Portal is managed and run by a team of full time staff based at Arghyam’s office in Bangalore, and part time consultants based all over India. Meet the entire team here.<br>
</p>
</div>
